HEAD,
* {box-sizing: border-box;}
/*START NAVIGATION AND HOMEPAGE*/
body {
    margin: 0;
    padding-left:0;
    font-family: Tahoma, Geneva, sans-serif !important;
}

/*The image on the homepage*/
.home-photo{
    max-width: 100%;
    height: auto;}


.box-blue{
    background: #0077C8;
    border: 1px solid;
    border-color: #979797;
}
.box-white{
    background: #FFFDFD;
}

.box-orange{
    background: #EF7C4D;
    border: 1px solid;
    border-color:#979797;
}

.box-white-2{
    background: #FFFDFD;
    border: 1px solid;
    border-color:#979797;
}

.box-green{
    background: #44A45F;
    border: 1px solid;
    border-color:#979797;
}

.box{
    height:25%;
}
#homepage{
    margin-bottom: 100px;
}

/*hidden search box in the navigation bar*/
.hide
{
    opacity: 0;
    max-height: 0;
}

#trigger {
    position: absolute;
    left: -999em;
}

.container{
    max-width: 100% !important;
}


#container input[type="checkbox"]:checked + div
    /*#container input[type="checkbox"]:checked */
{
    max-height: 99em;
    opacity: 1;
    height: auto;
    overflow: hidden;
}
/***********************************************/
/**************** toggle search bar ******************/
.search-form-wrapper {
    display: none;
    position: fixed !important;
    left: 0;
    right: 0;
    padding: 10px 10px;
    background:  right center no-repeat #979797;
    z-index: 1031;

}
.search-form-wrapper.open {
    display: block;

}
/**************************************************/

/** pseudo elements are used to underline the links for the desktop size screens**/
@media all and (min-width: 992px) {
    .nav-link.active:after{
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 90px; /* Change this to whatever width you want. */
        padding-top: 10px; /* This creates some space between the element and the border. */
        border-bottom: 3px solid #0077C8; /* This creates the border. Replace black with whatever color you want. */
    }

    .nav-link:after{
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 90px; /* Change this to whatever width you want. */
        padding-top: 10px; /* This creates some space between the element and the border. */
        border-bottom: 3px solid #E6E6EB; /* This creates the border. Replace black with whatever color you want. */
    }


    .nav-link:hover:after {
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 90px; /* Change this to whatever width you want. */
        padding-top: 10px; /* This creates some space between the element and the border. */
        border-bottom: 3px solid #0077C8; /* This creates the border. Replace black with whatever color you want. */
    }

    /*logo for the desktop with navbar*/
    .navbar> .navbar-brand{

        margin:auto 0;
        background-color: #3e3f40;

        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 50px;
        font-weight: bold;
        font-size: 25px;

    }

    .navbar>.navbar-light{
        color: rgba(0, 0, 0, 0.9);

    }

    .logo1 {
        padding-top: 50px;
        display: block;
        color: white;
        line-height: 30px;

    }

    .logo1:before {
        content: attr(data-text);
        /*color: white;*/
        background: black;
        padding: 0;
        line-height: 0;

    }

    .logo2{
        color:white;
        padding-bottom: 50px;


    }

    .search-form-wrapper {
        margin-top: 0px;
    }
    /*** remove the padding and margin from the logo in the navbar*/
    .navbar {
        padding-left: 0 !important;
        margin-left:0 !important;
        margin-top:0px !important;
        padding-top:0 !important;
        margin-bottom:0px !important;
        padding-bottom: 0 !important;
    }

    #homepage h2{
        margin-bottom:20% ;
        padding-right: 20%;
        padding-left: 20%;
    }

    #homepage p{
        padding-right: 20%;
        padding-left: 20%;
    }
}



@media all and (min-width: 1340px) {

    .nav-item{
        font-size: 20px;

    }

    .navbar-nav > li{
        margin-left:50px;
        margin-right:50px;
    }

    .navbar> .navbar-brand{

        font-size: 40px;

    }

    body {
        padding-top: 194.6px;
    }
}

/*all mobile devices*/
@media all and (min-width: 320px) and (max-width: 767px){
    #homepage p{
        font-size: 16px;
        padding-right: 5%;
        padding-left: 5%;
    }

    #homepage h2{
        font-size: 25px;
        margin-top:10%;
        margin-bottom:5%;
        padding-right: 5%;
        padding-left: 5%;
    }
    /*the padding in the body sets the content below the fixed navigation bar*/
    body {
        padding-top: 56px;
    }
    /*the margin sets the wrapper below the fixed navigation bar when collapsed*/
    .search-form-wrapper {
        margin-top: 254px ;
    }
}
/*tablet*/
@media all and (min-width: 768px) and (max-width: 991px){
    #homepage p{
        font-size: 16px;
        padding-right: 5%;
        padding-left: 5%;
    }

    #homepage h2{
        margin-top: 5%;
        font-size: 25px;
        margin-bottom:5%;
        padding-right: 5%;
        padding-left: 5%;
    }
    /*the padding in the body sets the content below the fixed navigation bar*/
    body {
        padding-top: 56px;
    }
    /*the margin sets the wrapper below the fixed navigation bar when collapsed*/
    .search-form-wrapper {
        margin-top: 198px ;
    }
}
/*large desktop screens*/
@media all and (min-width: 992px) and (max-width: 1340px){
    #homepage p{
        font-size: 16px;

        padding-right: 10%;
        padding-left: 10%;
    }
    #homepage h2{
        font-size: 25px;
        margin-bottom:10%;
        padding-right: 10%;
        padding-left: 10%;
    }
    body {
        padding-top: 171.4px;
    }
}
@media all and (min-width: 1340px) {
    #homepage p{
        font-size: 16px;
    }
    #homepage h2{
        font-size: 25px;
    }
    body {
        padding-top: 194.6px;
    }
}

@media (min-width: 926px){
    .d-md-block-test {
        display: block !important;
    }
}

@media all and (min-width: 992px){
    .navbar-nav i {
        visibility: hidden;
    }
}



@media all and (max-width: 768px){
    .search-form-wrapper {
        margin-top: 200px !important;
    }
}

.navbar{
    background-color: #FCFCFC;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


/*END NAVIGATION + HOMEPAGE*/


/*START 1916 RISING PAGE*/
.no-margin {
    margin:0 !important;
    padding: 0 !important;
}
.container-fluid{
    margin-top:10%;
}

#Rising h2 {
    font-size: 25px;
}

#Rising .card{
    background-color:#f0f0f5;
    max-width: 70%;
    margin: auto;
}

#Rising .embed-responsive{
    max-width: 70%;margin: auto;
}

#Rising .downloads{
    text-align: center;
}

@media all and (max-width: 1920px) and (min-width: 1061px)  {
    #Rising p{
        margin-left:10%;
        margin-right: 10%;
        font-size: 16px;
        margin-bottom: 10%;
    }
    #Rising .card{
        border-radius: 5px;
    }
    #Rising  img{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

@media all and (max-width: 1060px) and (min-width: 700px) {

    #Rising    p{
        margin-left:10%;
        margin-right: 10%;
        margin-bottom:5%;
        font-size:16px;
    }
    #Rising .card{
        border-radius: 5px;
    }
    #Rising  img{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media all and (max-width: 974px) and (min-width: 576px) {

    #Rising    p{
        text-align: center;
        margin-top:6%;
        font-size:16px;
    }
    #Rising  img{
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


}
@media (max-width: 575px) {
    /* CSS goes here */
    #Rising   p{
        text-align: center;
        margin-top:6%;
        font-size:16px;
    }
    #Rising   img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


}
/*END 1916 RISING PAGE*/


 /* START GALLERY PAGE */

/*all mobile devices*/
@media all and (min-width: 320px) and (max-width: 767px){
    #galleryText {
        margin-left: 2%;
        margin-right: 2%;
    }

    #galleryPage p{
        font-size: 16px;
        color: black;
        padding-right: 5%;
    padding-left: 5%;
}

    #galleryPage h2{
        font-size: 25px;
        margin-top:10%;
        margin-bottom:5%;
        padding-right: 5%;
        padding-left: 5%;
    }

    #galleryCarousel img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }



}


@media all and (min-width: 768px) and (max-width: 991px){
    #galleryText {
        margin-left: 4%;
        margin-right: 4%;
    }

    #galleryCarousel{
        margin-right: 4%;
        margin-left: 4%;
    }

    #galleryPage p{
        font-size: 16px;
        color: black;
        padding-right: 5%;
        padding-left: 5%;
    }

    #galleryPage h2{
        font-size: 25px;
        margin-bottom:5%;
        padding-right: 5%;
        padding-left: 5%;
    }

    #galleryCarousel img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }


    /*the padding in the body sets the content below the fixed navigation bar*/
   body {
        padding-top: 56px;
    }
    /*the margin sets the wrapper below the fixed navigation bar when collapsed*/
        .search-form-wrapper {
        margin-top: 198px ;
    }
}

/*large desktop screens*/

@media all and (min-width: 992px) and (max-width: 1340px){

    #galleryText {
        margin-left: 8%;
        margin-right: 8%;
    }

    #galleryCarousel{
        margin-right: 8%;
        margin-left: 8%;
    }

    #galleryPage p{
        font-size: 16px;
        color: black;
        padding-right: 10%;
        padding-left: 10%;
    }
    #galleryPage h2{
        font-size: 25px;
        margin-bottom:10%;
        padding-right: 10%;
        padding-left: 10%;
    }

    #galleryCarousel img {
        width: 500px;
        height: 300px;
        object-fit: cover;
    }

    body {
        padding-top: 171.4px;
    }
}
@media all and (min-width: 1340px) {

    #galleryText {
        margin-left: 10%;
        margin-right: 10%;
    }

    #galleryCarousel{
        margin-right: 10%;
        margin-left: 10%;
    }

    #galleryPage p{
        font-size: 16px;
        color: black;
    }
    #galleryPage h2{
        font-size: 25px;
    }

    #galleryCarousel img {
        width: 600px;
        height: 400px;
        object-fit: cover;
    }
    body {
        padding-top: 194.6px;
    }
}




.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #0077C8;
    text-align: center;
    opacity: 0.6 !important;
    transition: opacity 0.15s ease;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #0077C8 !important;
    text-decoration: none;
    outline: 0;
    opacity: 1 !important;
}

/*
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    color: #0077C8 !important;
    width: 35px !important;
    height: 35px !important;
    background: no-repeat 50% / 100% 100%;
}
*/


.carousel-control-prev-icon,
.carousel-control-next-icon {
    outline: #0077C8;
    /*border-radius: 50%;*/
    border: 7px solid #0077C8;
    /*   display: inline-block; */
    color: #0077C8 !important;
    width: 40px !important;
    height: 40px !important;
    background: no-repeat 50% / 100% 100%;
}


.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 5px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0077C8 !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}



/*GALLERY ENDS*/

.facts h2  {
    font-size: 25px;

}

.facts p {
    font-size: 16px;
}
/*
.galleryPage h2 {
    text-align: center;
}

.galleryPage h5, h6 {
    color: black;
}


.galleryPage div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.7;
}

.galleryPage div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

@media all and (min-width: 992px) {
    .galleryPage .jumbotron {
        background: white;
        padding-left: 15%;
        padding-right: 15%;
        word-wrap: break-word;
    }
}

@media all and (max-width: 991px) {
    .galleryPage .jumbotron {
        background: white;
        padding-left: 2%;
        padding-right: 2%;
        word-wrap: break-word;
    }
}

 /*END GALLERY PAGE */

/*FOOTER*/
footer a {
    text-decoration: none;
    color: grey;
}

footer {
    color: darkgrey;
}

.h5 {
    color: grey;
}

footer a:hover {
    text-decoration: none;
    color: #0077C8;
}
footer  img {
    margin-right: 15px;
    margin-top: 20px;

}

footer {
    text-align: left;
    /*padding-left: 15px; */
    /* margin-right: 25px; */
    margin-left: 5%;
    margin-right: 5%;
}


@media all and (min-width: 992px) {
    .jumbotron {
        background: white !important;
        padding-left: 15%;
        padding-right: 15%;
        word-wrap: break-word;
    }

    #socialMedia {
        float: right;
        margin-right: 3%;
        width: 15%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    #socialMedia li {
        flex: 1;
        margin-right: 8px;
    }

}

@media all and (max-width: 991px) {
    .jumbotron {
        background: white !important;
        padding-left: 2%;
        padding-right: 2%;
        word-wrap: break-word;
    }

    #socialMedia {
        float: right;
        margin-right: 2.5%;
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    #socialMedia li {
        flex: 1;
        margin-right: 8px;
    }

}




/*FOOTER SOCIAL MEDIA BUTTON*/


/*facts start*/

.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.row.nopaddingleftright {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.smoothie {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
a, a:hover {
    color: #F64747;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* 2 - HOVER EFFECT
/*-----------------------------------------------------------------------------------*/
.hover-effect {
    position: relative;
    overflow: hidden;
}
.hover-effect .img-responsive {
    width: 100%;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    backface-visibility: hidden;
}
.hover-effect:hover .img-responsive {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    backface-visibility: hidden;
}
.hover-effect .hover-caption, .hover-effect .hover-overlay {
    position: absolute;
    width: calc(100% - 30px);
    height:calc(100% - 30px);
    top: 15px;
    left: 15px;
    opacity: 0;
    padding: 0 20px;
}
.hover-effect .hover-caption {
    top: 15px;
    text-align: left;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.hover-effect:hover .hover-caption {
    opacity: 1;
    z-index: 5;
    width: calc(100% - 30px);
    height:calc(100% - 30px);
    top: 15px;
    left: 15px;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.hover-effect .hover-overlay {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
    opacity: 1;
    color: #fff;
}
.hover-effect .hover-caption {
    background-color: rgba(0,0,0,0.6);
    color: #222;
}
.hover-effect .hover-caption.transparent {
    background-color: transparent;
}
.hover-effect .hover-caption, .hover-effect .hover-caption p small {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
.hover-effect:hover .hover-overlay {
    opacity: 0;
    top: 100px;
}
.hover-effect h4 {
    letter-spacing: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    width: calc(100% - 20px);
}
.vertical-align-bottom {
    bottom: 0px;
    position: absolute;
}
.vertical-align-top {
    position: absolute;
    top: 15px;
}
.item-category-span {
    clear: left;
    background-color: #767676;
    color: #fff;
    padding: 1px 7px 0;
    display: block;
    float: left;
    margin: 10px 0 20px;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 19px;
}
.dark-overlay {
    background-color: rgba(0,0,0,0.6);
}
.accent-overlay {
    background-color: rgba(219, 10, 91,0.9);
}
.dark-overlay.green-overlay {
    background-color: rgba(27, 163, 156,0.9);
}
.dark-overlay.half-opacity {
    background-color: rgba(219, 10, 91,0.4);
}
.dark-overlay.fill-right:after {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    width: 500%;
    height: 100%;
    left: 100%;
}
.dark-overlay.fill-left:after {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    width: 500%;
    height: 100%;
    right: 100%;
}
.dark-overlay.green-overlay.fill-right:after, .dark-overlay.green-overlay.fill-left:after {
    background-color: rgba(27, 163, 156,0.9);
}
.hover-shift .dark-overlay.fill-left {
    position: relative;
    left: 0px;
}
.hover-shift .dark-overlay.fill-right {
    position: relative;
    right: 0px;
}
@media all and (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}
@media all and (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}
@media all and (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}
@media all and (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}
.match-height {
    position: relative;
    min-height: 140px;
}
.white-wrapper {
    background-color: #fff;
}
.section-inner {
    padding-top: 110px;
    padding-bottom: 110px;
}

.section-inner-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 700;
}
.section-sub-title {
    /*font-family: 'Reenie Beanie', serif;*/
    font-size: 20px;
    /*text-transform: lowercase;*/
    letter-spacing: 1px;
    opacity: 0.8;
    line-height: 1.5;
}

/*facts end*/

